<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    html,
    body{
      height: 100%;
    }

    .main {
      height: 50%;
      font-size: 28px;
    }

    .top {
      float: left;
      width: 100%;
      height: 300px;
      background-color: #13d333;
    }

    .bottom {
      height: 100%;
      background-color: rgb(33, 20, 212)
    }

    .firstLine {
      margin-top: 30px;
    }
  </style>
</head>

<body>
  <div class="main">
    <div class="top">
      <p>我是字体</p>
      <P>我还是字体</P>
    </div>
    <div class="bottom">
      <p class="hidden">隐藏元素</p>
      <p class="firstLine">要显示的第一行内容</p>
    </div>
  </div>

  <ul class=" list-paddingleft-2" style="list-style-type: disc;">
    <li>
      <p>这种方法只适合简单的展示文本和图片；</p>
    </li>
    <li>
      <p>如果你想用js做点交互，比如.bottom内部有个需要拖拽的元素，它的top最小值肯定不能是0，否则就被.top挡住了；</p>
    </li>
    <li>
      <p>.bottom元素中第一元素设置margin-top会造成.top元素下移一定距离；</p>
    </li>
    <li>
      <p>如果想.bottom元素中的子元素可以正常使用margin-top，而不对.top有影响，需要包含一个隐藏的元素（如:p），并且该隐藏元素p内容不能为空，否则不起作用。
        <br>
      </p>
    </li>
  </ul>


</body>

</html>